/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  src: url("Flaticon.eot") format("embedded-opentype"), url("Flaticon.woff") format("woff"), url("Flaticon.ttf") format("truetype"), url("Flaticon.svg") format("svg");
}
@media not all {
  @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.svg") format("svg");
}
}
