/* Code tidied up by ScrapBook */
@font-face {
  font-family: "bwg";
  font-style: normal;
  font-weight: normal;
  src: url("bwg.eot") format("embedded-opentype"), url("bwg.ttf") format("truetype"), url("bwg.woff") format("woff"), url("bwg.svg") format("svg");
}
