/* Code tidied up by ScrapBook */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { float: left; }
.row { display: block !important; }
p, span, li { font-family: "Lato",sans-serif !important; font-size: 16px; }
body { margin: 0px; font-family: "Lato",sans-serif !important; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
a { font-family: "Lato",sans-serif !important; background-color: transparent; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
h1, h2, h3, h4, h5, h6 { clear: both; color: rgb(30, 30, 30); margin-top: 24px; margin-bottom: 15px; font-family: "Lato",sans-serif !important; }
h1 { font-weight: 400; font-size: 32px; padding-bottom: 10px; }
h2 { font-size: 24px; padding-bottom: 0.3em; line-height: 1.25; }
h3 { font-size: 18px; line-height: 25px; }
h4 { font-size: 16px; line-height: 20px; }
p { margin-bottom: 0.5em; font-size: 16px; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
img { height: auto; max-width: 100%; }
.navbar-brand > a { font-size: 1.1rem; outline: medium none; text-decoration: none; color: rgb(255, 255, 255); font-weight: 700; }
.navbar-brand > a:visited, .navbar-brand > a:hover { text-decoration: none; }
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
#masthead nav { padding-left: 0px; padding-right: 0px; }
body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover, body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a { color: rgb(255, 255, 255); }
.navbar-brand { height: auto; }
.dropdown-item { line-height: 1.2; padding-bottom: 0.313rem; padding-top: 0.313rem; }
.dropdown-menu { min-width: 14.5rem; }
.dropdown-menu .dropdown-item { white-space: normal; background: transparent none repeat scroll 0% 0%; line-height: 1.6; }
.dropdown-menu .dropdown-item:hover { background: transparent none repeat scroll 0% 0%; }
@media screen and (min-width: 37.5em) {
}
@media screen and (min-width: 769px) {
}
@media screen and (max-width: 991px) {
  .navbar-nav .dropdown-menu { border: medium none; margin-left: 1.25rem; padding: 0px; }
  .dropdown-menu li a { padding: 0px; }
  #masthead .navbar-nav > li > a { padding-bottom: 0.625rem; padding-top: 0.313rem; }
  .navbar-light .navbar-toggler { border: medium none; outline: medium none; }
}
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; overflow-wrap: normal !important; }
.screen-reader-text:focus { background-color: rgb(241, 241, 241); border-radius: 3px; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: rgb(33, 117, 155); display: block; font-size: 0.875rem; font-weight: bold; height: auto; left: 0.313rem; line-height: normal; padding: 0.938rem 1.438rem 0.875rem; text-decoration: none; top: 0.313rem; width: auto; z-index: 100000; }
.clear::before, .clear::after, .entry-content::before, .entry-content::after, .comment-content::before, .comment-content::after, .site-header::before, .site-header::after, .site-content::before, .site-content::after, .site-footer::before, .site-footer::after { content: ""; display: table; table-layout: fixed; }
.clear::after, .entry-content::after, .comment-content::after, .site-header::after, .site-content::after, .site-footer::after { clear: both; }
.widget { margin: 0px 0px 1.5em; font-size: 0.875rem; }
embed, iframe, object { max-width: 100%; }
@media screen and (max-width: 767px) {
  #masthead .navbar-nav > li > a { padding-bottom: 0.938rem; padding-top: 0.938rem; }
}
@media only screen and (max-width: 1280px) {
  html { font-size: 95%; }
}
@media screen and (max-width: 1199px) {
  .navbar-nav .dropdown-menu { background: transparent none repeat scroll 0% 0%; box-shadow: none; border: medium none; }
}
@media only screen and (max-width: 1024px) {
  html { font-size: 90%; }
}
@media only screen and (max-width: 960px) {
  html { font-size: 85%; }
}
@media only screen and (max-width: 768px) {
  html { font-size: 80%; }
}
@media only screen and (max-width: 480px) {
  html { font-size: 75%; }
}
#main-nav ul li:last-child a::after { content: ""; }
#main-nav ul li { padding: 0px 100px 0px 0px; }
#main-nav ul li:last-child { padding: 0px !important; }
#main-nav ul li a { line-height: 80px; padding: 0px; text-transform: none !important; display: block; position: relative; font-weight: 700; color: rgb(255, 255, 255) !important; font-size: 19px !important; transition: all 300ms ease 0s; }
.navbar-brand { padding: 0px; }
.logo-footer { margin-bottom: 10px; }
.navbar-light .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; }
.navbar-light .navbar-toggler { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255) !important; }
@media (max-width: 1200px) {
  .navbar-brand { position: absolute; top: -43px; }
  .menu { padding: 35px 0px 72px !important; }
  .resp-butt-men { position: relative; }
  #main-nav ul li { padding: 0px; }
  #main-nav { position: absolute; top: 78px; background: rgb(30, 30, 30) none repeat scroll 0% 0%; width: 100%; padding: 21px; }
  .resp-butt-men { position: relative; width: 100%; float: right; text-align: right; }
  .navbar-toggler { position: absolute; right: 0px; }
  #main-nav ul li a::after { content: " "; }
  #main-nav ul li a { color: rgb(255, 255, 255) !important; }
  #main-nav ul li a { line-height: 40px; }
  #main-nav > ul > .current_page_item > a::before, #main-nav > ul > li a:hover::before { height: 2px; width: 25%; }
  #masthead.navbar-light { width: 96%; }
}
@media (max-width: 1100px) {
}
@media (max-width: 1100px) {
}
@media (max-width: 996px) {
  #masthead.navbar-light { position: relative; margin: 0px; width: 100% !important; }
}
@media (max-width: 569px) {
}
.top-page { background: rgba(0, 0, 0, 0) url("home-top_001.jpg") no-repeat scroll 0% 0% / cover ; position: relative; text-align: left; min-height: 700px; }
.menu { position: absolute; width: 100%; z-index: 1; }
.content-top-home { padding-top: 29%; max-width: 63%; }
.content-top-home h1 { color: rgb(255, 255, 255); text-transform: uppercase; font-weight: 900; font-size: 38px; margin: 0px; }
.content-top-home p { color: rgb(255, 255, 255); font-size: 18px; line-height: 30px; margin-bottom: 10px; }
.content-top-home a { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(30, 30, 30); padding: 11px 40px; display: inline-block; font-size: 18px; margin-top: 30px; }
.box-recomandate-home img { width: 250px; height: 250px; margin: 20px 0px; padding: 0px 10px; }
.box-recomandate-home { border: 2px solid rgba(31, 31, 31, 0.08); margin-top: 31px; }
.img-prod-box { border-bottom: 2px solid rgba(31, 31, 31, 0.08); }
.info-recomandate-home { padding: 25px; }
.info-recomandate-home h4 { color: rgb(30, 30, 30); font-size: 18px; line-height: 27px; margin: 0px; }
.info-recomandate-home h4 { color: rgb(30, 30, 30); font-size: 17px; line-height: 26px; margin: 0px; font-weight: 400; }
.info-recomandate-home a { background: rgb(251, 78, 9) none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: inline-block; padding: 5px 20px; font-size: 15px; margin-top: 20px; }
.box-recomandate h2 { font-size: 27px; text-transform: uppercase; line-height: 35px; font-weight: 800; }
.produse-recomandate.clearfix { margin: 86px 0px; }
.despre-home { background: rgba(0, 0, 0, 0) url("despre-home.png") no-repeat scroll 0% 0% / cover ; padding: 99px 0px; }
.content-despre-home h3 { font-size: 25px; color: rgb(255, 255, 255); text-transform: uppercase; font-weight: 800; margin-top: 0px; margin-bottom: 36px; }
.content-despre-home p { font-size: 18px; color: rgb(255, 255, 255); line-height: 27px; margin-bottom: 20px; }
.content-despre-home a { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(30, 30, 30); display: inline-block; padding: 12px 30px; font-size: 18px; margin-top: 19px; }
.footer-top .menu { position: relative; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; }
.footer-top { background-color: rgb(236, 236, 236) !important; background-image: url("footer-top-img.png"); background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-repeat: no-repeat; background-position: 11% 29%; padding: 50px 0px; }
.menu-footer h4 { font-size: 20px; text-transform: uppercase; font-weight: 800; color: rgb(19, 19, 19); margin-top: 0px; margin-bottom: 31px; }
.footer-top .menu a { padding: 0px; margin-bottom: 8px; color: rgb(19, 19, 19); font-size: 17px; }
.text-footer ul { padding: 0px; }
.text-footer ul p { color: rgb(19, 19, 19); font-size: 17px; line-height: 27px; }
.text-footer ul a { color: rgb(19, 19, 19); font-size: 17px; }
.orar-footer p { margin: 0px; }
.text-footer { position: relative; }
.logo-footer { position: absolute; right: 0px; top: -103px; }
.bottom-bar { background: rgb(30, 30, 30) none repeat scroll 0% 0%; padding: 10px 0px; }
.bottom-bar p, .bottom-bar a { color: rgb(255, 255, 255); font-size: 13px; font-weight: 400; margin: 0px; }
.text-left-footer { float: left; }
.text-right-footer { float: right; }
@media (max-width: 995px) {
}
@media (min-width: 768px) and (max-width: 995px) {
}
@media (max-width: 995px) {
  .navbar-brand img { width: 70%; }
  .resp-butt-men { margin-right: 20px; }
  #main-nav ul li a { padding: 0px !important; font-weight: 600; font-size: 17px !important; }
}
.menu-footer .menu { padding: 0px !important; }
@media screen and (max-width: 700px) {
}
#menu-menu-1 .dropdown-menu li a { color: rgb(26, 26, 26) !important; font-size: 17px !important; line-height: 49px; }
#menu-menu-1 .dropdown-menu li { padding: 0px; border-bottom: 1px solid rgb(221, 221, 221); }
#menu-menu-1 .dropdown-menu li:last-child { border: 0px none; }
@media (min-width: 1288px) and (max-width: 1445px) {
  .despre-home.clearfix { background-position-x: -114px; }
}
@media (min-width: 1030px) and (max-width: 1288px) {
  .despre-home.clearfix { background-position-x: -259px; }
}
@media (min-width: 995px) and (max-width: 1030px) {
  .content-top-home { max-width: 90% !important; }
  .top-page { min-height: 660px !important; }
  .despre-home { background-position-x: -600px; }
  .info-recomandate-home h4 { min-height: 80px !important; }
}
@media (max-width: 995px) {
  .content-top-home { max-width: 99% !important; }
  .top-page { min-height: 590px !important; }
  .despre-home { background-position-x: -600px; }
  .img-prod-box { text-align: center; }
  .info-recomandate-home h4 { min-height: 57px; }
  .info-recomandate-home a { padding: 6px 27px; font-size: 16px; }
}
@media (max-width: 768px) {
  .content-top-home h1 { font-size: 30px; }
  .content-top-home p { font-size: 17px; line-height: 26px; margin-bottom: 13px; }
  .top-page { min-height: 570px !important; }
  .despre-home { background-position-x: 58%; }
}
.logo-footer-resp { display: none; }
@media (max-width: 600px) {
  .text-footer { display: none; }
  .logo-footer-resp { position: absolute; top: -102px; right: 0px; }
  .logo-footer-resp { display: block !important; }
  .menu-footer h4 { margin-bottom: 10px; }
  .footer-top { padding: 29px 0px 20px; }
  .text-left-footer { float: none; text-align: center; }
  .text-right-footer { float: none; text-align: center; }
  .despre-home { background-position-x: 0px; }
  .content-despre-home p { font-size: 17px; }
  .despre-home { padding: 40px 0px 128px; }
  .info-recomandate-home h4 { min-height: auto !important; }
  .content-top-home h1 { font-size: 25px; }
  .content-top-home a { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(30, 30, 30); padding: 8px 33px; display: inline-block; font-size: 16px; margin-top: 20px; }
  .top-page { min-height: 620px !important; background-position-x: -367px; }
  .content-top-home { padding-top: 53%; }
  .box-recomandate h2 { font-size: 25px; }
  .produse-recomandate.clearfix { margin: 30px 0px; }
}
@media not all {
  #menu-menu-1 .dropdown-menu li a { color: rgb(255, 255, 255) !important; font-size: 16px !important; }
}
@media (max-width: 1200px) {
  #menu-menu-1 .dropdown-menu li a { color: rgb(255, 255, 255) !important; font-size: 16px !important; }
}
.info-recomandate-home h4 { min-height: 78px; }
#main-nav ul li a:active, #main-nav ul li a:focus { border: medium none !important; }
