/* Code tidied up by ScrapBook */
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@keyframes sk-rotatePlane {
0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}
@keyframes sk-rotatePlane {
0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}
@keyframes sk-doubleBounce {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes sk-doubleBounce {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes sk-waveStretchDelay {
0%, 100%, 40% { transform: scaleY(0.4); }
20% { transform: scaleY(1); }
}
@keyframes sk-waveStretchDelay {
0%, 100%, 40% { transform: scaleY(0.4); }
20% { transform: scaleY(1); }
}
@keyframes sk-wanderingCube {
0% { transform: rotate(0deg); }
25% { transform: translateX(30px) rotate(-90deg) scale(0.5); }
50% { transform: translateX(30px) translateY(30px) rotate(-179deg); }
50.1% { transform: translateX(30px) translateY(30px) rotate(-180deg); }
75% { transform: translateX(0px) translateY(30px) rotate(-270deg) scale(0.5); }
100% { transform: rotate(-360deg); }
}
@keyframes sk-wanderingCube {
0% { transform: rotate(0deg); }
25% { transform: translateX(30px) rotate(-90deg) scale(0.5); }
50% { transform: translateX(30px) translateY(30px) rotate(-179deg); }
50.1% { transform: translateX(30px) translateY(30px) rotate(-180deg); }
75% { transform: translateX(0px) translateY(30px) rotate(-270deg) scale(0.5); }
100% { transform: rotate(-360deg); }
}
@keyframes sk-pulseScaleOut {
0% { transform: scale(0); }
100% { transform: scale(1); opacity: 0; }
}
@keyframes sk-pulseScaleOut {
0% { transform: scale(0); }
100% { transform: scale(1); opacity: 0; }
}
@keyframes sk-chasingDotsRotate {
100% { transform: rotate(360deg); }
}
@keyframes sk-chasingDotsRotate {
100% { transform: rotate(360deg); }
}
@keyframes sk-chasingDotsBounce {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes sk-chasingDotsBounce {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes sk-three-bounce {
0%, 100%, 80% { transform: scale(0); }
40% { transform: scale(1); }
}
@keyframes sk-three-bounce {
0%, 100%, 80% { transform: scale(0); }
40% { transform: scale(1); }
}
@keyframes sk-circleBounceDelay {
0%, 100%, 80% { transform: scale(0); }
40% { transform: scale(1); }
}
@keyframes sk-circleBounceDelay {
0%, 100%, 80% { transform: scale(0); }
40% { transform: scale(1); }
}
@keyframes sk-cubeGridScaleDelay {
0%, 100%, 70% { transform: scale3d(1, 1, 1); }
35% { transform: scale3d(0, 0, 1); }
}
@keyframes sk-cubeGridScaleDelay {
0%, 100%, 70% { transform: scale3d(1, 1, 1); }
35% { transform: scale3d(0, 0, 1); }
}
@keyframes sk-circleFadeDelay {
0%, 100%, 39% { opacity: 0; }
40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
0%, 100%, 39% { opacity: 0; }
40% { opacity: 1; }
}
@keyframes sk-foldCubeAngle {
0%, 10% { transform: perspective(140px) rotateX(-180deg); opacity: 0; }
25%, 75% { transform: perspective(140px) rotateX(0deg); opacity: 1; }
100%, 90% { transform: perspective(140px) rotateY(180deg); opacity: 0; }
}
@keyframes sk-foldCubeAngle {
0%, 10% { transform: perspective(140px) rotateX(-180deg); opacity: 0; }
25%, 75% { transform: perspective(140px) rotateX(0deg); opacity: 1; }
100%, 90% { transform: perspective(140px) rotateY(180deg); opacity: 0; }
}
